@page "/picking-orders/{jobId?}"
@model SimpleAutomaticStorageSystem.Server.Pages.PickingOrders.IndexModel
@{
    ViewData["Title"] = "出庫依頼";
}

<!--
    js用id一覧

-->

<!-- 出庫依頼送信 -->
@{
    var isDisabled = (Model.ItemOptions is null) || Model.ItemOptions.Count() == 0;
}

<div class="row mx-0
    border rounded-3 shadow-sm bg-white py-3">
    <div class="col">
        <form method="post" asp-page-handler="Order" class="app-padding">
            <div class="d-flex justify-content-between align-items-start gap-3">
                <!-- 部品セレクタ -->
                <div class="col">
                    <!-- セレクタ本体 -->
                    <label class="form-label">商品選択</label>
                    <select asp-for="SelectedItem" asp-items="Model.ItemOptions"
                            id="item-selector"
                            class="form-select @(Model.ErrorMessage is not null ? "is-invalid" : "")"
                            disabled = "@isDisabled" >

                        <option id="default-option" value="">@(isDisabled ? "-- 出荷可能商品なし --" : "-- 商品を選択してください --")</option>
                        <!--
                                ここに出荷可能な商品のリストが入る
                                出荷可能な商品があるときは、初期値が「-- 商品を選択 --」となる
                            -->
                    </select>
                    <!-- エラーメッセージ -->
                    @if (Model.ErrorMessage is not null)
                    {
                        <div class="invalid-feedback d-block">
                            @Model.ErrorMessage
                        </div>
                    }
                </div>
                <!-- 登録ボタン -->
                <div class="col-auto">
                    <label class="form-label invisible">dummy</label>
                    <button type="submit" id="order-button" class="btn btn-primary d-block" disabled="@isDisabled">登録</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 未完了JOB一覧 -->
<div class="row mx-0 list-frame
    border rounded-3 shadow-sm bg-white py-3">
    <div class="col h-100">
        <form method="post" asp-page-handler="Cancel" class="scroll-body">
            <h5 class="px-3 py-0 mb-3 text-primary-emphasis">進行中の出庫依頼</h5>
            <div id="incomplete-job-container" class="scroll-content">
                @* <div class="">現在進行中の出庫依頼は存在しません。</div> *@
                <!--
                    ここに未完了出庫依頼の一覧が入る
                -->
            </div>
        </form>
    </div>
</div>